# Created by venv; see https://docs.python.org/3/library/venv.html
*

# Include nlp-pipeline-viewer contents in commits for rarebert
!Makefile
!nlp-pipeline-viewer
!pipeline.json
!**/src/
!**/public/
!**/*.json
!**/*.ts
!**/*.vue
!*.py
**/node_modules/

!nlp-pipeline-viewer/**/*.json
!nlp-pipeline-viewer/public/**/*.*